/* critical:start */
/*
  this is the content of the critical css.
  Important stuff, yo!!
*/
/* critical:end */


$font-path: '../fonts/';
/* critical:start */
*, *:before, *:after {
		box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
}

a {
	&:link,
	&:active,
	&:visited {
		color: #333;
	}

	&:hover {
		color: #ff0066;
	}

}

p{
	margin: 2em 10%;
}


@font-face {
	font-family: 'texgyreherosregular';
	src:url($font-path + 'texgyreheros-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* critical:end */

code {
	display: inline-block;
	padding: 2px 5px;
	background-color: #EEEEEE;
	/*critical*/
}

/* critical:start */
.header {
	padding: 30px 10%;
	background-color: #EEE;
}
/* critical:end */

.footer {
	color: #fff;
	padding: 20px 10%;
	background-color: #111;
}

.useful-links,
.social-links {
	list-style: none;
}

.useful-links__item {
	padding: 5px 0px;

	a {
		color: #ccc;

		&:hover{
			color: #fff;
		}
	}
}

.social {
	background-color: #ccc;
	padding: 30px 10%;
}

.social-links{
	&:after {
		display: table;
		content: '';
		clear: both;
		/*just a comment*/
	}

}


/* critical:start */
.title {
	&--header {
		font-size: 40px;
		/*
		i just want to test something
		let's see how this works
		when
		critical:start
		is in this comment
		*/
	}

	&--social {
		text-align: center;
	}
}
/* critical:end */

.social-links__item {
	float: left;
	width: 50%;
	padding-top: 10px;
	display: block;
	text-align: center;
}
