/*critical:start*/
/*
  this is the content of the critical css.
  Important stuff, yo!!
*/
/*critical:end*/


$font-path: '../fonts/';

*, *:before, *:after {
	/*critical:start*/
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
}
/*critical:end*/

a {
	&:link,
	&:active,
	&:visited {
		color: #333;
	}

	&:hover {
		/*critical:start*/
		color: #ff0066;
		/*critical:end*/
	}

}

p{
	margin: 2em 10%;
	/*critical*/
}

/* critical:start */
@font-face {
	font-family: 'texgyreherosregular';
	src: url($font-path + 'texgyreheros-regular-webfont.eot');
	src: url($font-path + 'texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url($font-path + 'texgyreheros-regular-webfont.woff') format('woff'),
		 url($font-path + 'texgyreheros-regular-webfont.ttf') format('truetype'),
		 url($font-path + 'texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* critical:end */

code {
	display: inline-block;
	padding: 2px 5px;
	background-color: #EEEEEE;
}

.header {
	padding: 30px 10%;
	background-color: #EEE;
}

.footer {
	color: #fff;
	padding: 20px 10%;
	background-color: #111;
}
/*critical:start*/

.useful-links,
.social-links {
	list-style: none;
}
/*critical:end*/

.useful-links__item {
	padding: 5px 0px;

	a {
		color: #ccc;

		&:hover{
			color: #fff;
		}
	}
}

.social {
	background-color: #ccc;
	/*critical:start*/
	padding: 30px 10%;

}

/*critical:end*/

.social-links{
	/*critical:start*/
	&:after {
		display: table;
		content: '';
		clear: both;
		/*just a comment*/
		/*critical:end*/
	}

}

a{
}

.title {
	&--header {
		font-size: 40px;
		/*
		i just want to test something
		let's see how this works
		when
		critical
		is in this comment
		*/
	}

	&--social {
		text-align: center;
	}
}

.social-links__item {
	float: left;
	width: 50%;
	padding-top: 10px;
	display: block;
	text-align: center;
}


@media all and (min-width: 500px) {
	.myClass {
		float: none;
		/*critical:start*/
		clear: both;
		/*critical:end*/
	}
}


@media all and (min-width: 600px) {
	/*critical:start*/

	.myOtherClass {
		color: #ff0066;
		text-decoration: underline;
		border: red thin solid;

		@media all and (max-width: 2000px) {
			border: green thin solid;
			/*critical:end*/
			background-color: orange;
		}
	}
}

@media all and (min-width: 1200px) {
	.bodyClass {
		margin: 0;
		/*critical*/
		/* this is the critical block*/
		padding: 20px;
	}
}
